@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

#navbar {
    padding: 0 0;
    margin: 0 0;
}

body div {
    font-size: 20px;
}

body {
    font-family: 'Oxygen', sans-serif;
}

img {
    border: 5px solid #555;
    text-align: center;
    vertical-align: middle;
}

#img-div {
    background-color: lightgray;
    width: 100%;
    padding: 25px;
}