@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

#navbar {
    padding: 0 0;
    margin: 0 0;
    position:fixed;
    width: 1918px;
    text-align: center;
    transform: translate(-375px)
}

hr {
}

body div {
    font-size: 20px;
}

div {
    font-family: 'Oxygen', sans-serif;
}

img {
    border: 5px solid #555;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img-div {
    background-color: lightgray;
    width: 100%;
    padding: 25px;
}